@media screen and (min-width: $break-sm) {
  .group-input-button {
    display: flex;
    justify-content: center;

    input {
      width: 30%;
      border-radius: 0%;
      border: 1px solid var(--text-color-hover);
      padding: 0;
      margin: 0;
      text-align: center;
      border: 1px solid var(--primary-color-hover);
    }

    button {
      color: var(--text-color);
      font-weight: bold;
      padding: 0.3rem 1rem 0.25rem 1rem;
      border: 2px solid var(--primary-color-hover);

      &:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
      }
      &:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}

@media screen and (min-width: $break-md) {
}
