@media screen and (min-width: $break-sm) {
  .checkout-confirmation {
    margin-top: 2rem;

    .container-confirmation {
      .confirmation-code {
        color: var(--success-color);
        font-weight: 700;
      }
      .checkout-resume {
        display: flex;
        justify-content: center;

        .selected-place,
        .selected-payment,
        .selected-delivery {
          display: flex;
          flex-direction: column;
          padding: 2rem 3rem;
          text-align: left;

          .resume-subtitle {
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .selected-place,
  .selected-payment,
  .selected-delivery {
    text-align: center !important;
  }
}

@media screen and (min-width: $break-l) {
}
