@media screen and (min-width: $break-sm) {
  .checkout-confirmation {
    margin-top: 2rem;

    .container-confirmation {
      .confirmation-code {
        color: var(--success-color);
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: $break-l) {
}
