@media screen and (min-width: $break-sm) {
  .nav-app {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    z-index: 9999;
    justify-content: center;
    position: fixed;
    top: 0;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .container-navbar {
      margin-top: 5px;
      width: 100%;

      .text-icon-group {
        color: var(--text-color);
        cursor: pointer;
        display: flex;
        padding: 0 2rem;

        img {
          width: 25px;
          height: auto;
        }

        h6 {
          font-size: 0.9rem;
          margin-top: 0.2em;
          margin-left: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: $break-md) {
  .nav-app {
    div:first-child {
      justify-content: center;
    }
  }
}

@media screen and (max-width: $break-md) {
  .nav-app {
    .container-navbar {
      .text-icon-group {
        padding: 0 1rem;
      }
    }
  }
}
