// HELPERS
@import "./helpers/normalize";
@import "./helpers/typography";
@import "./helpers/variables";
@import "./helpers/global";

// ATOMS
@import "./components/atoms/input";
@import "./components/atoms/button";
@import "./components/atoms/select";

// MOLECULES
@import "./components/molecules/formGroup";
@import "./components/molecules/pokemonCard";
@import "./components/molecules/quantitativeGroupButton";

// ORGANISMS
@import "./components/organisms/footer";
@import "./components/organisms/modal";
@import "./components/organisms/header";
@import "./components/organisms/horizontalOfferPokemon";
@import "./components/organisms/banner";
@import "./components/organisms/confirmation";

// TEMPLATES
@import "./components/templates/notfound";
@import "./components/templates/modalCart";
@import "./components/templates/checkout";
@import "./components/templates/modalPokemonDetail";
@import "./components/templates/spinner";

// PAGES

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  user-select: none;
}

input[type="checkbox"] {
  font-family: "roboto light, roboto" !important;
}
